{% extends "index.html" %}
{% load static %}

{% block cuerpo %}

<div class="wrapper">

  <div class="divTable cinereousTable">
  <div class="divTableHeading">
  <div class="divTableRow">
  <div class="divTableHead">Paralelismo</div>
  <div class="divTableHead">Condicionales</div>
  <div class="divTableHead">Control flujo</div>
  <div class="divTableHead">Abstracción</div>
  <div class="divTableHead">Sincronización</div>
  <div class="divTableHead">Interactividad</div>
  <div class="divTableHead">Representación de datos</div>
  <div class="divTableHead">Categorias</div>
  </div>
  </div>
  <div class="divTableBody">
      <div class="divTableRow">
        <div class="divTableCell">>=1 sprites y <br> >= 2 script <br><strong>receiveCondition<br>receiveMessage <br>receiveOnClone</strong></div>
        <div class="divTableCell"><strong>Report And <br> Report Or <br> Report Not</strong></div>
        <div class="divTableCell"><strong>Do until <br> For</strong></div>
        <div class="divTableCell">Definition blocks</div>
        <div class="divTableCell"><strong>DoWaitUntil <br> DoBroadcastAndWait <br> receiveOnClone <br> receiveCondition</strong></div>
        <div class="divTableCell"><strong>ReceiveInteraction  <br> reportTouchingObject <br> reportKeyPressed</strong></div>
        <div class="divTableCell">Operaciones con listas</div>
        <div class="divTableCell">>=7 categorías</div>
      </div>

  </div>
  </div>
</div>


{% endblock cuerpo %}
