{% extends "index.html" %}
{% load static %}

{% block cuerpo %}

<div class="wrapper">

  <div class="divTable cinereousTable">
  <div class="divTableHeading">
  <div class="divTableRow">
  <div class="divTableHead">Paralelismo</div>
  <div class="divTableHead">Condicionales</div>
  <div class="divTableHead">Control flujo</div>
  <div class="divTableHead">Abstracción</div>
  <div class="divTableHead">Sincronización</div>
  <div class="divTableHead">Interactividad</div>
  <div class="divTableHead">Representación de datos</div>
  <div class="divTableHead">Categorias</div>
  </div>
  </div>
  <div class="divTableBody">
      <div class="divTableRow">
        <div class="divTableCell">1 sprite y <br> >= 2 scripts <br><strong>Bandera verde <br>Key pressed </strong></div>
        <div class="divTableCell"><strong>Do if</strong></div>
        <div class="divTableCell">>= 2 blocks en script</div>
        <div class="divTableCell">>= 2 scripts</div>
        <div class="divTableCell"><strong>Do Wait</strong></div>
        <div class="divTableCell"><strong>Bandera verde <br> Key pressed</strong></div>
        <div class="divTableCell">Atributos de los personajes</div>
        <div class="divTableCell"><=2 categorias</div>
      </div>

  </div>
  </div>
</div>


{% endblock cuerpo %}
