{% extends "index.html" %}
{% load static %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.js" integrity="sha512-CAv0l04Voko2LIdaPmkvGjH3jLsH+pmTXKFoyh5TIimAME93KjejeP9j7wSeSRXqXForv73KUZGJMn8/P98Ifg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock head%}

{% block cuerpo %}

{% csrf_token %}
{% if user.is_authenticated %}

    <div class="dashboard">
      <canvas id="myChart" width="0.5" height="0.5"></canvas>
      <input type="hidden" id="myVar" name="variable" value="{{ name_zip }}">
      <script>

        // jQuery(function(){
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: ['No level', 'Basic', 'Intermediate', 'Advanced'],
                  datasets: [{
                      label: '# of Projects',
                      data: {{data}},
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true,
                          ticks: {
                            min: 0,
                            stepSize: 1,
                            max: 4
                          }
                      }
                  },
                   onClick: graphClickEvent

              }
          });
          var myVar = document.getElementById("myVar").value;
          function graphClickEvent(event, array){
              if(array.length>0){
                  const firstPoint = array[0];
                  var label = myChart.data.labels[firstPoint.index];
                  var value = myChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index];
                  var str=label+"-"+myVar
                  location.href = 'http://127.0.0.1:8000/dashboard/'+str;


              }
          }

        </script>
    </div>


          <div class="dashboard">
      <canvas id="myChart2" width="0.5" height="0.5"></canvas>
      <script>
        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['No level', 'Basic', 'Intermediate', 'Advanced'],
                datasets: [{
                    label: '# of Projects',
                    data: {{data}},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,

                        ticks: {
                          min: 0,
                          stepSize: 1,
                          max: 4
                        }
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                onClick: graphClickEvent
            }
        });

        function graphClickEvent(event, array){
            if(array.length>0){
                const firstPoint = array[0];
                var label = myChart.data.labels[firstPoint.index];
                var value = myChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index];
                location.href = 'http://127.0.0.1:8000/dashboard/'+label;

            }
        }
      </script>

    </div>
    {%if not flag_estudiante%}
      <div class="wrapper">
        <div class="box1">
             <form method="post" action="/dashboard">
                <label for="zip">Enter your zip name to show the dashboard: </label>
                <br></br>
                <input id="zip" type="text" name="name_zip" value="">
                <input class="button" type="submit" value="ok">
             </form>
             {{  mensaje }}
        </div>
        <div class="box2">
             <form method="post" action="/dashboard">
                <label for="zip">Enter two zips to compare </label>
                <br></br>
                <input id="zip1" type="text" name="name_zip1" value="">
                <input id="zip2" type="text" name="name_zip2" value="">
                <input class="button" type="submit" value="ok">
             </form>
             {{  mensaje }}
        </div>
      </div>
        {%endif%}

  {%else%}
    <p>please sign it</p>
  {%endif%}

{% endblock cuerpo %}
