{% extends "index.html" %}
{% load static %}

{% block cuerpo %}


<div id="banner" class="container">
	<a title="Analyze" href="/analyze"><img src="{%static 'images/snap-byob3.png' %}" width="1200" height="400" alt="" /></a>
</div>
<div class="wrapper">
		<div class="box1">
			<div class="title">
				<h2>Basic level</h2>
			</div>
			<a href="/basic" class="button">Learn More</a> </div>
		<div class="box2">
			<div class="title">
				<h2>Intermediate level</h2>
			</div>
			<a href="/intermediate" class="button">Learn More</a> </div>
		<div class="box3">
			<div class="title">
				<h2>Advanced level</h2>
			</div>
			<a href="/advanced" class="button">Learn More</a> </div>
	</div>

{% endblock cuerpo %}
