{% extends "index.html" %}
{% load static %}

{% block cuerpo %}

<div class="wrapper">

  <div class="divTable cinereousTable">
  <div class="divTableHeading">
  <div class="divTableRow">
  <div class="divTableHead">Paralelismo</div>
  <div class="divTableHead">Condicionales</div>
  <div class="divTableHead">Control flujo</div>
  <div class="divTableHead">Abstracción</div>
  <div class="divTableHead">Sincronización</div>
  <div class="divTableHead">Interactividad</div>
  <div class="divTableHead">Representación de datos</div>
  <div class="divTableHead">Categorias</div>
  </div>
  </div>
  <div class="divTableBody">
      <div class="divTableRow">
        <div class="divTableCell">>=2 sprites y <br> >= 1 script <br><strong>Bandera verde <br>Key pressed </strong></div>
        <div class="divTableCell"><strong>Do if else <br> Report if else</strong></div>
        <div class="divTableCell"><strong>Do forever <br> Do Repeat</strong></div>
        <div class="divTableCell">>= 2 scripts and <br> >=2 sprites</div>
        <div class="divTableCell"><strong>DoBroadcast <br> receiveMessage <br> doStopThis <br> doPauseAll</strong></div>
        <div class="divTableCell"><strong>ReceiveInteraction  <br> reportTouchingObject <br> reportKeyPressed</strong></div>
        <div class="divTableCell">Operaciones con varibles</div>
        <div class="divTableCell">>2 categorias <=6</div>
      </div>

  </div>
  </div>
</div>


{% endblock cuerpo %}
