{% extends "index.html" %}
{% load static %}

{% block cuerpo %}

  {% csrf_token %}

  {% if user.is_authenticated %}

      <div class="wrapper">
        <div class="box2">
          <div class="title">
            <h2>Welcome!</h2>
          </div>
          <br><br>
          <a href="http://127.0.0.1:8000/analyze"> Analyze your  project! </a>
        </div>
      </div>

  {% else %}
    <div class="wrapper">
      <div class="box2">
        <div id="usuarios">
           <form class="login" method="post" action="/login">
               <label for="username">Usuario: </label>
               <input value="{{ form.id }}" name="username"><br>
               <label for="password">Contraseña: </label>
               <input value="{{ form.password }}" name="password" type="password"><br>
              <input class="boton" type="submit" value="Login">
              <a href="http://127.0.0.1:8000/type-signup">Hacerse una cuenta</a>
           </form>
        </div>
      </div>
  </div>
  {% endif %}

{% endblock cuerpo %}
